@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

/* Main.tsx 的菜单样式 强制隐藏所有省略号 - 使用通配符选择器 */
.arco-menu * {
  text-overflow: clip !important;
  margin-left: 7px !important;
  padding-left: 7px !important;
}
.arco-menu-inner {
  margin-left: 0px !important;
}
